body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.table-container {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    color: yellow;
}

th {
   /*  background-color: #f2f2f2; */
}
