.container{
    
        width: 100%;
        height: 100vh;
        background-color: #121026;
        overflow: hidden;
        display: flex;
    }
    
@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 68px);
    }
}